.block {
    display: block;
    width: 70%;
    border: none;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    align-self: center;
  }

//   .form-center {
// 	width:1000px;
// 	margin: 0 auto;
// }
img{
  max-height: 20px;
 
  display: inline;
}